<!DOCTYPE html>
<html lang="en" class="no-js" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base.html}">

    <head>
        <title>Contactez nous</title>
    </head>

    <body>
        <th:block layout:fragment="page_content">
            <section class="section-sm bg-light" >
                        <div class="container">

                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="section-tittle">
                                    <h2>Questions frequents</h2>
                                </div>
                                <div class="collapse-wrapper">
                                    <div class="accordion" id="accordionExample">
                                        <!-- single-one -->
                                        <div class="card">
                                            <div class="card-header" id="headingTwo">
                                                <h2 class="mb-0">
                                                    <a href="#" class="btn-link collapsed"  data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Starts the automated process.</a>
                                                </h2>
                                            </div>
                                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    The automated process starts as soon as
                                                    your clothes go into the machine. Duis cursus, mi
                                                    quis viverra ornare.
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single-two -->
                                        <div class="card">
                                            <div class="card-header" id="headingOne">
                                                <h2 class="mb-0">
                                                    <a href="#" class="btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">The automated process starts.</a>
                                                </h2>
                                            </div>
                                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    The automated process starts as soon as
                                                    your clothes go into the machine. Duis cursus, mi
                                                    quis viverra ornare.
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single-three -->
                                        <div class="card">
                                            <div class="card-header" id="headingThree">
                                                <h2 class="mb-0">
                                                    <a href="#" class="btn-link collapsed"  data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Automated process starts.</a>
                                                </h2>
                                            </div>
                                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    The automated process starts as soon as
                                                    your clothes go into the machine. Duis cursus, mi
                                                    quis viverra ornare.
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single-four -->
                                        <div class="card">
                                            <div class="card-header" id="headingfouree">
                                                <h2 class="mb-0">
                                                    <a href="#" class="btn-link collapsed" data-toggle="collapse" data-target="#collapseFoure" aria-expanded="false" aria-controls="collapseFoure">Process the automated magic.</a>
                                                </h2>
                                            </div>
                                            <div id="collapseFoure" class="collapse" aria-labelledby="headingfouree" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    The automated process starts as soon as
                                                    your clothes go into the machine. Duis cursus, mi
                                                    quis viverra ornare.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




              </section>
        </th:block>
    </body>

</html>

