.breadcrumb-ul{
    list-style: none;
}
.breadcrumb-ul li{
    display: inline-block;
    margin : 10px;
    font-size : 25px;
    color : #ffffff;
    pointer-events: none;
}

.breadcrumb-ul > li#li-home:after{
    content: "/";
    font-weight: bold;
    pointer-events: all;
}

.document-sample{
    width : 100%;
    height : 400px;
}

.result-details{
    padding-left : 10px;
    border-left: 4px double dodgerblue !important;
}
.field{
    border-bottom : 2px solid dodgerblue !important;
    background-color : whitesmoke !important;
    padding : 10px;
    margin-bottom: 0;
}
.field span{
    display : inline-block;
}
.field .field-title{
    width : 150px;
    text-transform: uppercase;
}
.field .field-title:before{
    content : "*"
}
.field .field-value{
    padding-left : 30px;
    font-weight: bold;
    font-size : 22px;
}
.field-value-separator{
    font-size : 20px;
    font-weight: bold;
}
